@use './../global/colors' as c;

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: c.$primary;
    // box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
}

.navbar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav__bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  // background: rgba(0, 0, 0, 0.8);
  background: c.$primary;
  opacity: 0;
  z-index: -1;  
}

.nav-link:hover{
  background-color: transparent;
  transition: all .1s ease-in-out;
  scale: 1.1;
}