// Horizontal Card
.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}    

.card h3{
    text-transform: uppercase;
    color: rgb(177, 177, 177);
    font-size: .8rem;
}

.card p {
    line-height: 1.4em;
}

// Swiper [Trending]
.swiper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}

.swiper-wrapper{
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide{
    flex-shrink: 0;
    width: 70%; /* adjust slide width */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.trending-card{
    max-width: 600px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);

    img{
        object-fit: cover;
        height: 100%;
    }
}

.swiper-button-wrapper {
  flex: 0 0 auto; /* don't shrink */
}

.swiper-next,
.swiper-prev {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.swiper-next svg,
.swiper-prev svg {
  pointer-events: none;
}
